- name: test raw module
  hosts: windows
  tasks:
    - name: run ipconfig
      raw: ipconfig
      register: ipconfig
    - debug: var=ipconfig
    - name: test win_command module
      win_command: whoami
      register: whoami
    - debug: var=whoami
    - name: Create directory structure
      win_file:
        path: C:\Program Files\telegraf
        state: directory
    - name: Create a file from a Jinja2 template
      win_template:
        src: windows/test.txt.j2
        dest: C:\Program Files\telegraf\test.txt
