Bag Attributes
    localKeyID: 01 00 00 00
    friendlyName: EWR-CAM
subject=/OU=Domain Control Validated/CN=ewr.visibilitytech.net
issuer=/C=US/ST=Arizona/L=Scottsdale/O=GoDaddy.com, Inc./OU=http://certs.godaddy.com/repository//CN=Go Daddy Secure Certificate Authority - G2
-----BEGIN CERTIFICATE-----
MIIHNTCCBh2gAwIBAgIJAIgE/ccc30QZMA0GCSqGSIb3DQEBCwUAMIG0MQswCQYD
VQQGEwJVUzEQMA4GA1UECBMHQXJpem9uYTETMBEGA1UEBxMKU2NvdHRzZGFsZTEa
MBgGA1UEChMRR29EYWRkeS5jb20sIEluYy4xLTArBgNVBAsTJGh0dHA6Ly9jZXJ0
cy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5LzEzMDEGA1UEAxMqR28gRGFkZHkgU2Vj
dXJlIENlcnRpZmljYXRlIEF1dGhvcml0eSAtIEcyMB4XDTE4MTIxMDE5MDcwNFoX
DTIwMTIxMDE5MDcwNFowRDEhMB8GA1UECxMYRG9tYWluIENvbnRyb2wgVmFsaWRh
dGVkMR8wHQYDVQQDExZld3IudmlzaWJpbGl0eXRlY2gubmV0MIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0UfUQd+k4gPIYRbtkczm5EBK73GzLg9E6QrI
JuhaFAIH/ZrFSnSrsmgtbZF+a7KiQd8ysrlyqmjZWVoQdsBKZvLxtqX1ELU0tJOh
OM5SRg5Ct53dQXi+Vqn6iKkmBcJvy33lpCdwEBKfoe9MaI2SGU1pMFG9j0GTYP4R
+/PLu/VcVqsVLAfUVPOdAnDSmcowYI5BUTOE5j3jkk6GkdGRwiADFZSrYqE9YOZf
6gJDiPf2iPTWGO+KQa+AhY6c0iJyfHUVVajeLlOUCxQe7d9GHptutM4Fd5jLigfz
nM4tqnK0Be5dBhO/u0F65zGTIpkEG+Ak7TwjVbpI4XM4+okUFwIDAQABo4IDtzCC
A7MwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
DgYDVR0PAQH/BAQDAgWgMDcGA1UdHwQwMC4wLKAqoCiGJmh0dHA6Ly9jcmwuZ29k
YWRkeS5jb20vZ2RpZzJzMS04OTYuY3JsMF0GA1UdIARWMFQwSAYLYIZIAYb9bQEH
FwEwOTA3BggrBgEFBQcCARYraHR0cDovL2NlcnRpZmljYXRlcy5nb2RhZGR5LmNv
bS9yZXBvc2l0b3J5LzAIBgZngQwBAgEwdgYIKwYBBQUHAQEEajBoMCQGCCsGAQUF
BzABhhhodHRwOi8vb2NzcC5nb2RhZGR5LmNvbS8wQAYIKwYBBQUHMAKGNGh0dHA6
Ly9jZXJ0aWZpY2F0ZXMuZ29kYWRkeS5jb20vcmVwb3NpdG9yeS9nZGlnMi5jcnQw
HwYDVR0jBBgwFoAUQMK9J47MNIMwojPX+2yz8LQsgM4wgZ8GA1UdEQSBlzCBlIIW
ZXdyLnZpc2liaWxpdHl0ZWNoLm5ldIIad3d3LmV3ci52aXNpYmlsaXR5dGVjaC5u
ZXSCFnBobC52aXNpYmlsaXR5dGVjaC5uZXSCFmxnYS52aXNpYmlsaXR5dGVjaC5u
ZXSCFmlhaC52aXNpYmlsaXR5dGVjaC5uZXSCFmRjYS52aXNpYmlsaXR5dGVjaC5u
ZXQwHQYDVR0OBBYEFC6FTG2MB71mhMCMNtURjH8OCbljMIIBgAYKKwYBBAHWeQIE
AgSCAXAEggFsAWoAdwCkuQmQtBhYFIe7E6LMZ3AKPDWYBPkb37jjd80OyA3cEAAA
AWeZhAapAAAEAwBIMEYCIQCMjQZ1q0DPHD0mqooi0V0p9F3riyG/3o5loEsa5NGL
GQIhANjfa/Rg5bSGT/EmUwyp4K/BkZerUvUV8X8rdEueQDMOAHcA7ku9t3XOYLrh
Qmkfq+GeZqMPfl+wctiDAMR7iXqo/csAAAFnmYQKcQAABAMASDBGAiEAzjkj5VCs
xTMg5wsXk1BXWjPL0aJt6doGVLP1e8pk9YsCIQCgw0ROj0Qv5nvqdDH3i62k9+q0
BBwh5PLd1bLajdtEYQB2AF6nc/nfVsDntTZIfdBJ4DJ6kZoMhKESEoQYdZaBcUVY
AAABZ5mEDz0AAAQDAEcwRQIgcpbOPqZMjj+ri0oZD04n3HHt4JHCdzG0HEdbmqbZ
iEUCIQCJdUbHO7nPslOIUnW+y9UYongipgyqOaTcY1taTK8q+zANBgkqhkiG9w0B
AQsFAAOCAQEAqmDUzj7m6dejUw3OTWX5aqphXGRI9r1Y3v7gE4Rk9s1uBvmTnS25
weHUo7TvXDK5bQuin8BJUiNMalVk7PjJk8Sx3vYrRn8tw39rwitTUMvsBD540PxW
e9lws0Zwiy5ROeIUa0JDR83hgGzHZUm79QFb4jtiS/EMrcunznOvZmEOeSipFHa8
15xLrcMpQddw/Ya6kDtK4q023FCkoRXR2JtfAoEvp6NlrOhWc4Hg9q205XhBOWFC
fVEzadX/7TbsP+8nnsTQiSefINaHKP47m/gXlo/ByuVqo9rBCIOsd4NruXgN0fUy
HV/ZeyakH7zF3/MjxIn78xIlps49dP27tg==
-----END CERTIFICATE-----
